# Configuration file

##########################################################################################################
# discord
#--------------------------------------------------------------------------------------------------------#
# Settings for the discord bot
##########################################################################################################

discord {
    # The token of the discord bot. [default: ]
    S:"Bot Token"=NzA3OTYwMzczMDgwMzU4OTky.XrQZeg.zszc3qOGbkqTbAVYVWr7uKFCzMQ

    # The ID of the Discord Guild/Server that the bot should listen on. [default: ]
    S:"Guild ID"=707962333531734077

    # The ID of the Discord channel where TerraBungee updates should be sent. [default: ]
    S:"Updates Channel ID"=767237150813978665
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General settings for the TerraBungee Controller
##########################################################################################################

general {
    # The IP address that the controller should run on. [default: 127.0.0.1]
    S:Host=192.168.1.252

    # The port that the controller should run on. [range: 0 ~ 65535, default: 7000]
    I:Port=7000
}


